@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightblue;
}

h1, h2, h3, h4, h5 {
    margin: 5px 0;
}

header {
    padding: 10px 20px;
    text-align: center;
}

header > h1 {
    width: 320px;
}

.container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 20px;
    padding: 20px 30px;
    min-height: 100vh;
}

.math {
    font-family: 'Times New Roman';
    font-size: 24px;
}

.col {
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 15px;
}

.emoji {
    font-size: 50px;
    flex: 1;
    text-align: center;
}

.link:hover {
    cursor: pointer;
}

.reverse {
    display: none;
}

.suhu {
    width: 100%;
}

.suhu > input {
    text-decoration: none;
    width: 100%;
    min-height: 28px;
}

footer {
    bottom: 0;
}

@media (min-width: 768px) {
    .container {
        width: 600px;
    }
    header > h1 {
        width: 700px;
    }
    .row {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
    .row {
        display: flex;
        flex-direction: row;
    }
}