@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: lightblue;
}

h1, h2, h3, h4, h5 {
    margin: 5px 0;
}

header {
    padding: 20px;
    text-align: center;
}

header > h1 {
    width: 320px;
}

.container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 20px;
    padding: 20px 30px;
    min-height: 100vh;
}

.math {
    font-family: 'Times New Roman';
    font-size: 24px;
}

.col {
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 15px;
}

.emoji {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.link:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons > button {
    font-weight: bold;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
    border: none;
    transition-duration: 0.2s;
    cursor: pointer;
}

.b-kon {
    background-color: rgb(50, 168, 109);
}
.b-kon:hover {
    background-color: rgb(31, 110, 71);
}

.b-res {
    background-color: rgb(216, 82, 82);
}
.b-res:hover {
    background-color: rgb(173, 41, 41);
}

.b-rev {
    background-color: rgb(37, 37, 37);
}
.b-rev:hover {
    background-color: rgb(0, 0, 0);
}
.reverse {
    display: none;
}

.suhu {
    width: 100%;
}

.suhu > textarea {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 5rem;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
    padding: 10px 20px;
}

@media (min-width: 768px) {
    .container {
        width: 600px;
    }
    header > h1 {
        width: 600px;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .container {
        width: 800px;
    }
    .row {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}